FLASK_APP=run.py
FLASK_ENV=development
FLASK_RUN_PORT=7070
SECRET_KEY=my-super-secret-key
JWT_SECRET_KEY=super-secret-key-change-in-production
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

DB_HOST=mariadb
DB_PORT=3306
DB_NAME=app_db
DB_USER=youruser
DB_PASSWORD=yourpassword
SQLALCHEMY_DATABASE_URI=mysql+pymysql://youruser:yourpassword@mariadb:3306/app_db